<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<% if @o_all %>
<table class="pretty" width="100%">
  <tr>
    <th width="20%"><%= "Name" %></th>
    <th width="10%"><%= "Description" %></th>
    <th width="15%"><%= "Image" %></th>
  </tr>

  
    <tr>
      <td><%= @o_all.name %></td>
      <td><%= @o_all.description %></td>
      <td><%= @o_all.image %></td>
    </tr>
  
</table>
<% end %>

<% if params[:tool] %>
	<% params[:tool][:factors].each do |i, j| %>
		<%#= j %>
	<% end %>
<% end %>

<%#= debug(@factors_id_arr) %>
<%#= debug(factors = Array[3,2]) %>





