<div class="admintextbox">
<div class="admintextbox-leftpart ">
<%= form_for(@user) do |f| %>
<!--
  <%# if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <%# @user.errors.full_messages.each do |msg| %>
        <li><%#= msg %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %>
-->
  <div class="field">
    <%= f.hidden_field :is_admin, :value => 0 %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
	<span><% if @user.errors[:first_name].any? %>
		<%= raw @user.errors[:first_name].first %></span>
	<% end %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
	<span><% if @user.errors[:last_name].any? %>
		<%= raw @user.errors[:last_name].first %></span>
	<% end %>
  </div>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
	<span><% if @user.errors[:username].any? %>
		<%= raw @user.errors[:username].first %></span>
	<% end %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
	<span><% if @user.errors[:email].any? %>
		<%= raw @user.errors[:email].first %></span>
	<% end %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
	<span><% if @user.errors[:password].any? %>
		<%= raw @user.errors[:password].first %></span>
	<% end %>
  </div>
    </div>
<div class="admintextbox-leftpart ">
  <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
	<span><% if @user.errors[:password_confirmation].any? %>
		<%= raw @user.errors[:password_confirmation].first %></span>
	<% end %>
    </div>
  <div class="field">
    <%= f.label :mobile_number %>
    <%= f.text_field :mobile_number %>
	<span><% if @user.errors[:mobile_number].any? %>
		<%= raw @user.errors[:mobile_number].first %></span>
	<% end %>
  </div>
  <div class="field">
  <div class="checkbox">
    <%= f.label 'User Role' %>
    <%#= f.check_box :is_admin %>
	<%= f.select :is_admin, options_for_select([["Select Role", ""], ["Admin", 1], ["Merchant", 2], ["User", 3]], @user.is_admin)  %>
    </div>
  </div>


  <div class="field">
    <%= f.label :carrier_id %>
    <%= f.select :carrier_id, options_for_select(Carrier.all.map { |c| [c.name, c.id] }, @user.carrier_id)  %>
  </div>
  <div class="actions">
    <%= f.submit :Save %>
	<div class="btn"><%= link_to t("general.back"), users_path %></div>
  </div>
<% end %>

</div>
<div class="cl"></div>
</div>
