<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="pretty" width="100%">
  <tr>
    <th><%= sortable "name", t("general.name") %></th>
	<th width="20%"><%= sortable "created_at", t("general.created_at") %></th>
	<th width="10%"><%= t("general.actions") %></th>
  </tr>
  <% for o_row in @o_all %>
    <tr>
      <td><%= o_row.name %></td>

      <td><%= o_row.created_at.to_s(:pretty) %></td>
      <td> 
		<%= link_to image_tag("edit.png", :width => "16px", :height => "16px", :title => t("general.edit")), edit_factor_path(o_row) %>
		<%= link_to image_tag("delete.png", :width => "16px", :height => "16px", :title => t("general.destroy")), o_row, :confirm => t('general.are_you_sure_to_delete'), :method => :delete %>
		</td>
    </tr>
  <% end %>
</table>
<%= will_paginate @o_all %>
