<div class="admintextbox">
<div class="admintextbox-leftpart ">
<%= form_for @o_single do |f| %>
  <%#= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p><%= f.submit :value => t("general.save") %>
<div class="btn"><%= link_to t("general.back"), ages_path %></div>
</p>
<% end %>
</div>
<div class="cl"></div>
</div>
