<header class="headline">
    <%= link_to(image_tag("webAdvisor.gif", :width => "150px", :height => "90px", :alt => t("general.web_advisor"), :class => "round"), "/admin") %>
    <nav class="wlcm-menu">
      <ul>
		 <% if !session[:user_id].nil? %>
		   <li><%= image_tag "wc-admin.png" %> <%= t("general.welcome") %>, <%= current_user.username %></li>
			<li><%= image_tag "logout.png" %><%= link_to t("general.logout"), :logout%></li>
		<% else %>
			<li><%= t("general.welcome_admin") %></li>
			<li><%= link_to t("general.home"), root_path %></li>
		<% end %>
		<li>
		  <%= link_to 'en', setlocaleadmin_path('en') %>
	    | <%= link_to 'fi', setlocaleadmin_path('fi') %>
		</li>
      </ul>
    </nav>
	<br />
	<% if !session[:user_id].nil? %>
	<nav class="menu">
	  <ul>
		<li><%= link_to t("general.tools"), tools_path %></li>
		<li><%= link_to t("general.ages"), ages_path %></li>
		<li><%= link_to t("general.factors"), factors_path %></li>
		<li><%= link_to t("general.report"), tool_reports_path %></li>
	  </ul>
	</nav>
	<% end %>
	<br />
</header>
